<div>
    <div class="mb-3">
		<label for="firstname" class="form-label">Firstname</label>
		<input [(ngModel)]="firstname" type="text" class="form-control" name="firstname" id="firstname" aria-describedby="firstnameHelp">
	</div>
	<div class="mb-3">
		<label for="lastname" class="form-label">Lastname</label>
		<input [(ngModel)]="lastname" type="text" class="form-control" name="lastname" id="lastname">
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email address</label>
		<input [(ngModel)]="email" type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
		<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input [(ngModel)]="password" type="password" class="form-control" name="password" id="password">
	</div>
	<button type="submit" class="btn btn-primary" (click)="register()">Register</button>
	<div>
		<p>Have an account? <a href="/register">Login</a></p>
	</div>
</div>
