<div class="container shadow lg p-5 mb-5 bg-white rounded" style="padding: 5%;">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Road</label>
                <input [(ngModel)]="addr.road" type="text" id="form2Example1" class="form-control">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">PostalCode</label>
                <input [(ngModel)]="addr.postalCode" type="text" id="form2Example1" class="form-control">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">City</label>
                <input [(ngModel)]="addr.city" type="text" id="form2Example1" class="form-control">
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Country</label>
                <input [(ngModel)]="addr.country" type="text" id="form2Example1" class="form-control">
            </div>
                
        </div>
        <button type="button" class="btn btn-block" style="background-color: rgba(230, 115, 0, 1); color: white" (click)="edit()">Edit</button>
    </div>
</div>
